@font-face {
  name: Aquafont;
  src: url(../Font/aqua.ttf);
}
#Navbar_outer_div {
  display: flex;
  width: 100vw;
  padding-top: 10px;
}
#Navbar_outer_div nav {
  width: 100vw;
}
ul {
  width: 100vw;
  display: flex;
  margin: 0px;
  font-family: Aquafont;
  padding-left: 0;
}
.li_div {
  width: 15vw;
  height: 40px;
  text-align: center;
}
li {
  margin: 0px;
  list-style: none;
}
#navbar_button {
  text-align: center;
  position: absolute;
  right: 0;
  width: 30vw;
  background-color: #ddd0c8;
}
#navbar_button button {
  width: 30vw;
  align-items: center;
  padding: 0;
  text-align: center;
}
#navbar_button a {
  font-size: 1.5vw;
  color: #d7182e;
  text-decoration: none;
  transition: 0.5s ease;
}

li a {
  margin: 0px;
  transition: 0.5s ease;
  text-transform: uppercase;
  color: #d7182e;
  text-decoration: none;
  font-size: 1.3vw;
}
#registerbutton {
  background: transparent;
  border-radius: 20px;
  /* border: 2px solid black; */
  cursor: pointer;
  border: 0px;
  transition: width 0.5s;
  /* width: 250px; */
}
@media screen and (min-width: 1024px) {
  #registerbutton a::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #d7182e;
    transition: width 0.3s;
  }
  #registerbutton a:hover::after {
    width: 50%;
  }
  li a:hover {
    font-size: 1.2vw;
    color: #2b7a76;
  }
  #registerbutton a:hover {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 600px) {
  .li_div {
    width: 15vw;
    height: 40px;
    text-align: center;
  }
  #navbar_button {
    text-align: center;
    position: absolute;
    right: 0;
    width: 30vw;
  }
  #navbar_button a {
    font-size: 2vw;
    color: #d7182e;
    text-decoration: none;
    transition: 0.5s ease;
  }
  li a {
    margin: 0px;
    transition: 0.5s ease;
    text-transform: uppercase;
    color: #d7182e;
    text-decoration: none;
    font-size: 2vw;
  }
  #registerbutton {
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
    transition: width 0.5s;
    width: 25vw;
  }
  #registerbutton button {
    color: black;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .li_div {
    width: 15vw;
    height: 5vw;
    text-align: center;
  }
  #navbar_button {
    text-align: center;
    position: absolute;
    right: 0;
    width: 30vw;
  }
  #navbar_button a {
    font-size: 1.5vw;
    color: #d7182e;
    text-decoration: none;
    transition: 0.5s ease;
  }
  li a {
    margin: 0px;
    transition: 0.5s ease;
    text-transform: uppercase;
    color: #d7182e;
    text-decoration: none;
    font-size: 2vw;
  }
  #registerbutton {
    padding: 0;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
    transition: width 0.5s;
    width: 22vw;
  }
  #registerbutton button {
    color: black;
  }
}
