@font-face {
  font-family: Aquafont;
  src: url(../Font/aqua.ttf);
}
#Register_outer_div {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #ddd0c8;
}
#Register_button_div {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#Register_button_div button:hover {
  font-size: 20px;
}
#Register_button_div button:not(:hover) {
  transition: 0.5s ease;
}
#Register_button_div button {
  border-radius: 20px;
  width: 100px;
  border: 0;
  cursor: pointer;
  transition: 0.5s ease;
  font-family: "Raleway", sans-serif;
}
.Register_inner_form_div {
  text-align: center;
  margin: 15px;
  font-size: 30px;
}
.Register_Inner_div input {
  width: 400px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  border: 0;
  background-color: #ddd0c8;
}
.Register_Inner_div {
  width: 500px;
  height: auto;
  background-color: #e8e1dd;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
form {
  font-family: "Raleway", sans-serif;
  margin-top: 70px;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
}
#Title_div {
  font-size: 30px;
  font-family: Aquafont;
}
